

@{
    Layout = "_Layout";
}
@using Microsoft.AspNetCore.Http;
@using Hotel_Management_System.Models;
@model IEnumerable<Hotel_Management_System.Models.UserDetails>
<!DOCTYPE html>

<div class="container">
    @{
        var s = Context.Session.GetInt32("adminId");
        if (s == null)
        {
            @:Please login First
        }
        else
        {
            @:Welcome @Context.Session.GetString("adminUserName")
            <br />
            <div class="container">


                <div class="row">
                    <div class="col-md-4">
                        <h2>In this page we will work for User </h2>
                    </div>
                </div>
            </div>

            <br />
            <a asp-controller="Home" asp-action="Logout">Logout</a>
        }
    }
</div>