@model Hotel_Management_System.Models.ExpenseView

@{
    ViewData["Title"] = "CreateExpense";
}

<div class="d-flex">
    <div class="col-md-6">
        <h4>Create Expense</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="CreateExpense">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="expense_details" class="control-label"></label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" asp-for="expense_details" rows="3"></textarea>
                        <span asp-validation-for="expense_details" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="expense_cost" class="control-label"></label>
                        <input asp-for="expense_cost" class="form-control" />
                        <span asp-validation-for="expense_cost" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <h4>View Expense</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="ViewExpense">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="fromDate" class="control-label"></label>
                        <input asp-for="fromDate" class="form-control" />
                        <span asp-validation-for="fromDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="toDate" class="control-label"></label>
                        <input asp-for="toDate" class="form-control" />
                        <span asp-validation-for="toDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Find" class="btn btn-primary" />
                    </div>
                </form>
            </div>
            <br />
            <br />
            <div>
                <h4>Expense List</h4>
            </div>
            <hr />
            <table class="table" border="1" style="">
                <thead>
                    <tr>
                        <th>
                            Expense Date
                        </th>
                        <th>
                            Expense Details
                        </th>
                        <th>
                            Cost
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.view_expense)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.entry_date)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.expense_details)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.expense_cost)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
