@model Hotel_Management_System.Models.NewRoom

<h4>New Room</h4>
<hr />
@Html.Label("", (string)ViewBag.Message)
<br />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddNewRoom">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="room_type" class="control-label"></label>
                <select id="roomType" asp-for="room_type" class="form-control" onchange="getRoomPrice()">
                    <option value="0">--Select--</option>
                    @foreach (IdDescription room in ViewBag.roomTypeList)
                    {
                        <option value="@room.Id">@room.Description</option>
                    }
                </select>
                <span asp-validation-for="room_type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="room_price" class="control-label"></label>
                <input id="roomPrice" asp-for="room_price" class="form-control" />
                <span asp-validation-for="room_price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="room_floor" class="control-label"></label>
                <select asp-for="room_floor" class="form-control">
                    <option>1st Floor</option>
                    <option>2nd Floor</option>
                    <option>3rd Floor</option>
                    <option>4th Floor</option>
                    <option>5th Floor</option>
                    <option>6th Floor</option>
                </select>
                <span asp-validation-for="room_floor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


<script language="javascript">
    function getRoomPrice() {
        console.log('coming here');
        $('#roomType').click(function () {
            var url = "/Admin/GetRoomPrice";
            var name = $('#roomType').val();
            $.get(url, { name: name }, function (data) {
                console.log(data);
                document.getElementById('roomPrice').value = data;
            });
        })
    }
</script>


<div>
    <a asp-action="Index">Back to List</a>
</div>

