
@{
    Layout = "_Layout";
}
@using Microsoft.AspNetCore.Http;
@using Hotel_Management_System.Models;
@model IEnumerable<Hotel_Management_System.Models.UserDetails>
<!DOCTYPE html>
@ViewBag.message
<div class="container">
    @{
        var s = Context.Session.GetInt32("adminId");
        if (s == null)
        {
            @:Please login First
        }
        else
        {
            @:Welcome @Context.Session.GetString("adminUserName")
            <br />
            <a asp-controller="Admin" asp-action="EditProfile" asp-route-id="@Context.Session.GetInt32("adminId")">Edit Profile</a>
            <br />
            <a asp-controller="Admin" asp-action="EditUserList">Manage and Add an User</a>
            <br />
            <a asp-controller="Admin" asp-action="EditRoomTypeList">Manage and Add a Room Type</a>
            <br />
            <a asp-controller="Admin" asp-action="EditNewRoomList">Manage and Add a Room</a>
            <br />
            <a asp-controller="Home" asp-action="Logout">Logout</a>
        }
    }
</div>