@{
    Layout = "_Layout";
}

@model Hotel_Management_System.Models.UserDetails
@using Microsoft.AspNetCore.Http;

<div class="container">
    @{
        var s = Context.Session.GetInt32("adminId");
        if (s == null)
        {
            @:s
            @:Please login First
        }
        else
        {
            <h4>Add an User</h4>
            <hr />
            <form method="post" asp-controller="admin" asp-action="AddUser">
                @ViewBag.message
                <table cellpadding="2" cellspacing="2">
                    <tr class="form-group">
                        <td>
                            <label class="form-group">User Phone Number:</label>
                        </td>
                        <td>
                            <input class="form-group form-control" type="text" asp-for="user_phone" />
                        </td>
                    </tr>
                    <tr class="form-group"> 
                        <td>
                            <label class="form-group"> User Password:</label>
                        </td>
                        <td>
                            <input class="form-group form-control" type="password" asp-for="user_password" />
                        </td>
                    </tr>
                    <tr class="form-group">
                        <td>
                            <label class="form-group"> User Name:</label>
                        </td>
                        <td>
                            <input  class="form-group form-control" asp-for="user_name" />
                        </td>
                    </tr>
                    <tr class="form-group">
                        <td>
                            <label class="form-group"> User Type:</label>
                        </td>
                        <td>
                            <select asp-for="user_type" class="form-control">
                                <option value="1">Admin</option>
                                <option value="0">User</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>
                            <input class="form-group btn btn-primary"  type="submit" value="ADD" />
                        </td>
                    </tr>
                </table>

            </form>
        }
    }
</div>