@model Hotel_Management_System.Models.ViewReportGetModel



<h4>ViewReportGetModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ViewReportSelect">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="fromDate" class="control-label"></label>
                <input asp-for="fromDate" class="form-control" />
                <span asp-validation-for="fromDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="toDate" class="control-label"></label>
                <input asp-for="toDate" class="form-control" />
                <span asp-validation-for="toDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="View Report" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


